name: fincheck_api

services:
    fincheck_db:
        image: postgres
        container_name: 'fincheck_db'
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - '${DB_PORT}:5432'
        volumes:
            - pg_data:/var/lib/postgresql/data

volumes:
    pg_data:
